.SRFooter {
    border-top: 1px solid rgb(161, 172, 178);
    background: rgb(243, 242, 241) none repeat scroll 0 0;
    color: var(--black);
    font-family: "nta", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
    padding-top: 40px;
    padding-bottom: 25px;
    position: absolute;
    width: 100%;
    bottom:0;
    height: 10rem;
}

.crest {
    padding-bottom: 5px;
}

.meta-flex {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
    -webkit-box-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    justify-content: center;
}

.meta-item {
    display: inline-block;
    -webkit-box-flex: 1;
    flex: 1;
    margin-right: 15px;
    margin-bottom: 25px;
    margin-left: 15px;
}

.copyright {
    margin-right: 15px;
    margin-bottom: 25px;
    margin-left: 15px;
}

.crest {
    display: inline-block;
    min-width: 125px;
    padding-top: 112px;
    background-image: url("./govuk-crest.png");
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: 125px 102px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    float: left;
}

.ogl {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    height: 25px;
    margin-left: -3px;
}

.footer-list {
    list-style: none;
    padding-inline-start: 0;
    margin-top: 0;
    padding-top: 25px;
    margin-bottom: 15px;
}

.SRFooter li{
    display: inline-block;
    margin-right: 20px;
    font-size: 1rem;
    line-height: 1.25;
    font-weight: 400;
    height: 20px;
    color: var(--black);
    padding-bottom: 5px;
}

.link {
    color: var(--black);
}

.link:visited{
    color: var(--black);
}

.link:focus-visible {
    text-decoration: none;
    text-decoration-color: transparent;
    outline: none;
    background-color: var(--yellow);
    border-bottom: 5px solid;
    padding-bottom: 0;
}

.link:-moz-focusring {
    text-decoration: none;
    text-decoration-color: transparent;
    outline: none;
    background-color: var(--yellow);
    border-bottom: 5px solid;
    padding-bottom: 0;
}

.link:hover{
    text-decoration: underline;
}

.link:active {
    text-decoration: none;
    outline: none;
    background-color: var(--yellow);
    border-bottom: 5px solid var(--black);
    padding-bottom: 0;
    height:20px;
}

.link.selected:after {
    content: "";
    border-bottom: 5px solid var(--black);
    width: 100%;
    float: right;
    padding-top: 0;
}

.SRFooter span {
    display: inline-block;
    vertical-align: bottom;
}
