div.systemCard {
    cursor: pointer;
    padding: 6px;
    margin-left: -6px;
    margin-top: 6px;
  }

.systemCard > a{
    display:inline-block;
    text-decoration: none;
    color: black;
    width:100%;
    height:100%;
  }

  .systemCard-description {
    margin-top: 3px;
  }

 .systemCard a:focus, .systemCard a:active {
    outline: none;
    background-color: var(--yellow);
    border-bottom: 5px solid var(--black);
 }