.investEvergreen {
    background-color: var(--badge-green-background);
    color: var(--badge-green-font);
}

.invest {
    background-color: var(--badge-turquoise-background);
    color: var(--badge-turquoise-font);
}
  
.investMaintain {
    background-color: var(--badge-blue-background);
    color: var(--badge-blue-font);
}

.investSunset {
    background-color: var(--badge-orange-background);
    color: var(--badge-orange-font);
}

.investDecommissioned,
.investCancelled,
.investmentUnknown {
    background-color: var(--badge-grey-background);
    color: var(--badge-grey-font);
}
