.Menu{
    background-color: #F8F8F8;
    min-width: 100%;
}

.Menu li{
    display: inline-block;
    margin-right: 20px;
    font-size: larger;
    font-weight: bold;
    height: 40px;
}

.Menu ul{
    list-style: none;
    padding-inline-start: 0;
    margin-top: 0;
    padding-top: 12px;
}

.Menu a:visited{
    color: #1E70B8;
}

.Menu a:focus-visible {
    text-decoration: none;
    text-decoration-color: transparent;
    outline: none;
    background-color: var(--yellow);
    border-bottom: 5px solid var(--black);
    padding-bottom: 0;
}

.Menu a:hover{
    text-decoration: underline;
}

.Menu a:active {
    text-decoration: none;
    outline: none;
    background-color: var(--yellow);
    border-bottom: 5px solid var(--black);
    padding-bottom: 0;
}

.Menu a.selected:after{
    content: "";
    border-bottom: 5px solid #1d70b8;
    width: 100%;
    float: right;
    padding-top: 12px;
}

.Menu a{
    color: #1E70B8;
    padding-bottom: 12px;
    text-decoration: none;
}