.Menu{
    background-color: #F8F8F8;
    min-width: 100%;
}

.Menu li{
    display: inline-block;
    margin-right: 20px;
    font-size: larger;
    font-weight: bold;
    height: 40px;
}

.Menu ul{
    list-style: none;
    padding-inline-start: 0;
    margin-top: 0;
    padding-top: 12px;
}

.Menu a:visited{
    color: #1E70B8;
}

.Menu a:hover{
    text-decoration: underline;
}

.Menu a:active {
    text-decoration: none;
    color: black;
    outline: none;
}

.Menu a:focus {
    color: black;
}

.Menu a.selected:after{
    content: "";
    border-bottom: 5px solid #1d70b8;
    width: 100%;
    float: right;
    padding-top: 12px;
}

.Menu a{
    text-decoration: none;
}
