.alias-input-list {
    margin-top: 25px;
}

.alias-input-list-title {
    font-weight: bold !important;
}

.alias-input-list-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 66.6%;
}

.alias-input-list-item {
    display: inline-block;
    flex-grow: 1;
}

.alias-input-list-add {
    margin: 0 !important;
}

.alias-input-list-remove {
    align-self: flex-end;
    margin: 0 0 2px 10px !important;
    vertical-align: baseline !important;
}

.alias-input-error {
    border-left: 4px solid var(--red);
    padding-left: 10px;
}

.alias-input-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    /*noinspection CssUnknownProperty*/
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    border: 0 !important;
    white-space: nowrap !important;
}
