.criticalityHigh {
    background-color: var(--badge-pink-background);
    color: var(--badge-pink-font);
}

.criticalityMedium {
    background-color: var(--badge-orange-background);
    color: var(--badge-orange-font);
}
  
.criticalityLow {
    background-color: var(--badge-green-background);
    color: var(--badge-green-font);
}

.criticalityUnknown {
    background-color: var(--badge-grey-background);
    color: var(--badge-grey-font);
}

.criticalityCNI{
   background-color: var(--badge-red-background);
   color: var(--badge-red-font);
}