.criticality-high {
    background-color: var(--badge-pink-background);
    color: var(--badge-pink-font);
}

.criticality-medium {
    background-color: var(--badge-orange-background);
    color: var(--badge-orange-font);
}
  
.criticality-low {
    background-color: var(--badge-green-background);
    color: var(--badge-green-font);
}

.criticality-unknown {
    background-color: var(--badge-grey-background);
    color: var(--badge-grey-font);
}

.criticality-cni{
   background-color: var(--badge-red-background);
   color: var(--badge-red-font);
}