.unknownKeyInfo {
  background-color: var(--badge-grey-background);
  color: var(--badge-grey-font);
  padding-bottom: 3px;
  padding-top: 3px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 14px;
}

.naKeyInfo {
  background-color: var(--badge-purple-background);
  color: var(--badge-purple-font);
  padding-bottom: 3px;
  padding-top: 3px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 14px;
}
