.add-system-secondary {
  margin-bottom: 11px;
  color: var(--secondary-text-colour);
  font-size: 24px;
}

.add-system-width-two-thirds {
  width: 66.6% !important;
}

.add-system-form-controls {
  margin-top: 30px;
}
