label {
    display: block;
}

input {
    width: 44px;
    height: 44px;
}

.form-controls {
    margin-top: 44px;
}

.update-about-secondary {
    color: #505a5f;
    font-size: 24px;
}

.width-two-thirds {
    width: 66.6% !important;
}

h1 {
    font-size: 36px;
    margin-bottom: 8px;
}
h1 + p {
    margin-top: 0.25rem;
}

button {
    min-width: 10rem;
    margin-top: 10px;
}

.update-about-radio-group-hint {
    font-size: 19px;
    color: #505a5f;
    margin-top: 5px;
}

.update-about-radio-group-title {
    margin-bottom: 0;
    margin-top: 30px;
}