label {
    display: block;
}

input {
    width: 44px;
    height: 44px;
}

.form-controls {
    margin-top: 44px;
}

.secondary {
    margin-bottom: 11px;
    color: #505a5f;
}

.width-two-thirds {
    width: 66.6% !important;
}

h1 {
    font-size: 36px;
    margin-bottom: 8px;
}
h1 + p {
    margin-top: 0.25rem;
}

button {
    min-width: 10rem;
    margin-top: 10px;
}