.system-list-filter {
  align-items: flex-end;
  display: inline-flex;
  margin-top: 20px;
}

.system-list-dropdown {
  margin-left: 40px;
  min-width: 500px;
}

.system-list-search {
  margin-top: 32px;
}

.system-list--visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  /*noinspection CssUnknownProperty*/
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important;
}
