/*.systemDetails > ul{*/
/*    list-style: none;*/
/*    padding-left: 0;*/
/*}*/

/*.systemDetails{*/
/*    line-height: 1.5;*/
/*}*/

.riskContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.riskSummary {
  background-color: #FAFAFA;
  padding: 20px;
  width: 400px;
  word-wrap: break-word;
}

.riskSummary > h4 {
  margin-top: 0;
  margin-bottom: 16px;

}

.riskSummary > p {
  margin-top: 16px;
  margin-bottom: 10px;
}

.contentBlock {
    color: var(--black);
    font-family: Helvetica, sans-serif;
    border-bottom: solid 1px rgb(191, 193, 195);
}
.contentBlock > h2 {
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 0;
}

.contentBlock > h1 {
    font-size: 36px;
    margin-bottom: 0;
    margin-top: 32px;
}
.contentBlock > p {
    font-size: 16px;
    margin-top: 8px;
}