.title {
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    /*padding-bottom: 8px;*/
}

.title-bar-login {
    position: absolute;
    right: 5px;
    top: 5px;
}
