.title-bar-title {
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
}

.top-nav > div {
    padding-bottom: 14px;
    padding-top: 14px;
}

.title-bar-login {
    position: absolute;
    right: 5px;
    top: 10px;
    line-height: 2.3333;
}
